[submodule "third_party/anyolite"]
	path = third_party/anyolite
	url = https://github.com/Anyolite/anyolite
[submodule "third_party/SFML"]
	path = third_party/SFML
	url = https://github.com/SFML/SFML
[submodule "third_party/crSFML"]
	path = third_party/crSFML
	url = https://github.com/oprypin/crSFML
[submodule "third_party/Launshi"]
	path = third_party/Launshi
	url = https://github.com/Shidacea/Launshi
[submodule "third_party/crystal-imgui-sfml"]
	path = third_party/crystal-imgui-sfml
	url = https://github.com/oprypin/crystal-imgui-sfml
[submodule "third_party/crystal-imgui"]
	path = third_party/crystal-imgui
	url = https://github.com/oprypin/crystal-imgui
[submodule "third_party/raylib-cr"]
	path = third_party/raylib-cr
	url = https://github.com/sol-vin/raylib-cr
[submodule "third_party/sdl-crystal-bindings"]
	path = third_party/sdl-crystal-bindings
	url = https://github.com/Hadeweka/SDL-Crystal-Bindings
